$mainColor: #102E44;
$lighterMainColor: #1A4260;
$darkTextColor: #3C3C3C;
$lightTextColor: #F1FEFA;
$accentColor: #B2FCFB;
$tintColor: #99F4DB;

#root {
  width: 100%;
  min-height: 100vh;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $lighterMainColor;
}

button {
  margin: 0;
  border: none;
  &:hover {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5) // animate
  }
  &.primary-button {
    background-color: $accentColor;
    margin-left: 10px;
  }
  &.secondary-button {
    background-color: $tintColor;
  }
  &.refresh-button {
    background-color: $accentColor;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.navbar-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

hr {
  padding: 0;
  margin: 10px;
  border: 0.5px solid $mainColor;
}

footer {
  height: auto;
  background-color: $mainColor;
  border-radius: 10px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
  color: $lightTextColor;
  padding: 20px;
}

.main-info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  max-height: 600px;
  color: $lightTextColor;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 95%;
  .card {
    background-color: $lightTextColor;
    color: $darkTextColor;
    border-radius: 10px;
    height: auto;
    width: 90%;
  }
}

.test-display { // remove when finished
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-dropdown { // remove when finished
  width: 30%;
}